
@model UpdateAddressModel

@{
    ViewData["Title"] = "Preview Page";
}

<h2 class="justify-content-center">@ViewData["Title"]</h2>

<form class="mx-auto w-50" method="post">
    <input asp-for="@Model.Id" class="hideField" />
    <h3 class="text-center">Please check if all correct:</h3>
    <div class="form-row m-2">
        <div class="col-md-6">
            <label asp-for="@Model.Country"></label>
            <input disabled="disabled" asp-for="@Model.Country" class="form-control inputData" />
            <span asp-validation-for="@Model.Country" class="text-danger"></span>           
        </div>
        <div class="col-md-6 ">
            <label asp-for="@Model.Region"></label>
            <input disabled="disabled" asp-for="@Model.Region" class="form-control inputData" />
            <span asp-validation-for="@Model.Region" class="text-danger"></span>

        </div>
    </div>
    <div class="form-row m-2">
        <div class="col-md-6">
            <label asp-for="@Model.Town"></label>
            <input disabled="disabled" asp-for="@Model.Town" class="form-control inputData" />
            <span asp-validation-for="@Model.Town" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.StreetName"></label>
            <input disabled="disabled" asp-for="@Model.StreetName" class="form-control inputData" />
            <span asp-validation-for="@Model.StreetName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row m-2">
        <div class="col-md-6">
            <label asp-for="@Model.PropertyType"></label>
            <select style="height:35px" disabled="disabled" id="addressTypeChoice" asp-for="@Model.PropertyType"
                    onchange="ShowDetails()" class="form-control inputData"
                    asp-items="Html.GetEnumSelectList<PropertyType>()">
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.Number"></label>
            <input disabled="disabled" asp-for="@Model.Number" class="form-control inputData" />
            <span asp-validation-for="@Model.Number" class="text-danger"></span>
        </div>
    </div>
    @if (Model.PropertyType == PropertyType.Flat)
            {
                ViewData["PreviewMode"] = "disabled";
        <div class="form-row m-2" id="flatDetails">
            <partial name="_FlatDetailsPartial.cshtml" view-data="ViewData" />
        </div>

    }
    <div class="form-row m-2" id="flatDetails" style="display:none" >
        <partial name="_FlatDetailsPartial.cshtml" />
    </div>


    <div class="form-row m-2 justify-content-around">
        <button id="controlButton" type="button" class="btn btn-dark text-white col-md-3" onclick="enable();">Edit</button>
        @{
            var actionName = "";
            if (Model.Id == null)
            {
                actionName = "Save";
            }
            else
            {
                actionName = "Update";
            }
        }
        <input type="submit" class="btn btn-dark text-white col-md-3" value="Save"
               asp-controller="Addresses" asp-action="@actionName" onclick="enable();" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('.inputData').each(function () {

            $('<span />', {
                'class': 'glyphicon glyphicon-ok',
                text: '',
                insertAfter: this
            });
        });

        function enable() {
            $(".inputData").attr("disabled", null);
            $("#controlButton").html("Preview");
            $("#controlButton").attr("onclick", "disable();")
            $("span[class='glyphicon glyphicon-ok']").hide();
        }
        function disable() {
            $(".inputData").attr("disabled", "disabled");
            $("#controlButton").html("Edit");
            $("#controlButton").attr("onclick", "enable();")
            $("span[class='glyphicon glyphicon-ok']").show();
        }
        function ShowDetails() {
            var addressType = $("#addressTypeChoice").val();
            if (addressType == 2) {
                $("#flatDetails").show();
            }
            else {
                $("#flatDetails").hide();
            }
        }
    </script>
}
