
@model UpdateAddressModel

@{
    ViewData["Title"] = "Preview Page";
}
<h2 class="justify-content-center">@ViewData["Title"]</h2>
<form class="mx-auto w-50" method="post">
    <input asp-for="@Model.Id" class="hide" />
    <h3 class="text-center">Please check if all correct:</h3>
    <div class="form-row m-2">
        <div class="col-md-6">
            <label asp-for="@Model.Country"></label>
            <input disabled="disabled" asp-for="@Model.Country" class="form-control inputData" />
            <span asp-validation-for="@Model.Country" class="text-danger"></span>
            @*<span class="glyphicon glyphicon-ok"></span>*@

        </div>
        <div class="col-md-6 ">
            <label asp-for="@Model.Region"></label>
            <input disabled="disabled" asp-for="@Model.Region" class="form-control inputData" />
            <span asp-validation-for="@Model.Region" class="text-danger"></span>

        </div>
    </div>
    <div class="form-row m-2">
        <div class="col-md-6">
            <label asp-for="@Model.Town"></label>
            <input disabled="disabled" asp-for="@Model.Town" class="form-control inputData" />
            <span asp-validation-for="@Model.Town" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.StreetName"></label>
            <input disabled="disabled" asp-for="@Model.StreetName" class="form-control inputData" />
            <span asp-validation-for="@Model.StreetName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row m-2">
        <div class="col-md-6">
            <label asp-for="@Model.PropertyType"></label>
            <select style="height:35px" disabled="disabled" id="addressTypeChoice" asp-for="@Model.PropertyType"
                    onchange="ShowDetails()" class="form-control inputData"
                    asp-items="Html.GetEnumSelectList<PropertyType>()">
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.Number"></label>
            <input disabled="disabled" asp-for="@Model.Number" class="form-control inputData" />
            <span asp-validation-for="@Model.Number" class="text-danger"></span>
        </div>
    </div>
    @if (Model.PropertyType == PropertyType.Flat)
    {
        <div class="form-row m-2" id="flatDetails">
            <div class="col-md-4">
                <label asp-for="@Model.FlatModel.Floor"></label>
                <input disabled="disabled" asp-for="@Model.FlatModel.Floor" class="form-control inputData" />
                <span asp-validation-for="@Model.FlatModel.Floor" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="@Model.FlatModel.Entrance"></label>
                <input disabled="disabled" asp-for="@Model.FlatModel.Entrance" class="form-control inputData" />
                <span asp-validation-for="@Model.FlatModel.Entrance" class="text-danger"></span>

            </div>
            <div class="col-md-4">
                <label asp-for="@Model.FlatModel.Apartment"></label>
                <input disabled="disabled" asp-for="@Model.FlatModel.Apartment" class="form-control inputData" />
                <span asp-validation-for="@Model.FlatModel.Apartment" class="text-danger"></span>
            </div>
        </div>

    }
    <div class="form-row m-2" id="flatDetails" style="display:none" >
        <div class="col-md-4">
            <label asp-for="@Model.FlatModel.Floor"></label>
            <input disabled="disabled" asp-for="@Model.FlatModel.Floor" class="form-control inputData" />
            <span asp-validation-for="@Model.FlatModel.Floor" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="@Model.FlatModel.Entrance"></label>
            <input disabled="disabled" asp-for="@Model.FlatModel.Entrance" class="form-control inputData" />
            <span asp-validation-for="@Model.FlatModel.Entrance" class="text-danger"></span>

        </div>
        <div class="col-md-4">
            <label asp-for="@Model.FlatModel.Apartment"></label>
            <input disabled="disabled" asp-for="@Model.FlatModel.Apartment" class="form-control inputData" />
            <span asp-validation-for="@Model.FlatModel.Apartment" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row m-2 justify-content-around">
        <button id="controlButton" type="button" class="btn btn-dark text-white col-md-3" onclick="enable();">Edit</button>
        @{
            var actionName = "";
            if (Model.Id == null)
            {
                actionName = "Save";
            }
            else
            {
                actionName = "Update";
            }
        }
        <input type="submit" class="btn btn-dark text-white col-md-3" value="Save"
               asp-controller="Addresses" asp-action="@actionName" onclick="enable();" />
    </div>
</form>

@section Scripts{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        $('.inputData').each(function () {

            $('<span />', {
                'class': 'glyphicon glyphicon-ok',
                text: '',
                insertAfter: this
            });

        });

        function enable() {
            $(".inputData").attr("disabled", null);
            $("#controlButton").html("Preview");
            $("#controlButton").attr("onclick", "disable();")
            $("span[class='glyphicon glyphicon-ok']").hide();
        }
        function disable() {
            $(".inputData").attr("disabled", "disabled");
            $("#controlButton").html("Edit");
            $("#controlButton").attr("onclick", "enable();")
            $("span[class='glyphicon glyphicon-ok']").show();
        }
        function ShowDetails() {
            var addressType = $("#addressTypeChoice").val();
            if (addressType == 2) {
                $("#flatDetails").show();
            }
            else {
                $("#flatDetails").hide();
            }
        }
    </script>
}
