@model ShowUsersDataModel
@{
    ViewData["Title"] = "Manage my data";
}

<div class="container w-50 ">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <table class="table table-bordered">
        <colgroup>
            <col class="text-white bg-dark width-30" />
            <col />
        </colgroup>
        <tr>
            <td class="text-white bg-dark font-weight-bold text-lg-left">UserName</td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td class="text-white bg-dark font-weight-bold text-lg-left">Full Name</td>
            <td>@Model.FullName</td>
        </tr>

        <tr>
            <td class="text-white bg-dark font-weight-bold text-lg-left">RegisteredOn</td>
            <td>@Model.RegisteredOn</td>
        </tr>
        <tr>
            <td class="text-white bg-dark font-weight-bold text-lg-left">Email</td>
            <td id="emailField">
                <span>@Model.Email</span>
                <button class="btn btn-dark float-right" onclick="toggle('emailField')">Edit</button>
                <form method="post" action="/Users/EditInfo">
                    <input class="hideField margin-30" type="email" name="email" value="@Model.Email" />
                    <input class="btn btn-dark float-right hideField w-25 margin-30" type="button" value="Cancel" onclick="toggle('emailField')"/>
                    <input class="btn btn-dark float-right hideField w-25 margin-30" type="submit" value="Save" />
                </form>
            </td>

        </tr>
        <tr>
            <td class="text-white bg-dark font-weight-bold text-lg-left">Phone Number</td>
            <td id="phoneNumberField">
                <span>
                    @Model.PhoneNumber</span>
                    <button class="btn btn-dark float-right" onclick="toggle('phoneNumberField')">Edit</button>
                    <form method="post" action="/Users/EditInfo">
                        <input class="hideField margin-30" type="tel" name="phoneNumber" value="@Model.PhoneNumber" required />
                        <input class="btn btn-dark float-right hideField w-25 margin-30" type="button" value="Cancel" onclick="toggle('phoneNumberField')"/>
                        <input class="btn btn-dark float-right hideField w-25 margin-30" type="submit" value="Save" />
                    </form>
            </td>
        </tr>
        <tr>
            <td class="text-white bg-dark font-weight-bold text-lg-left">Second Phone Number</td>
            <td id="secondPhoneNumberField">
                <span>@Model.SecondContactNumber</span>
                <button class="btn btn-dark float-right" onclick="toggle('secondPhoneNumberField')">Edit</button>
                <form method="post" action="/Users/EditInfo">
                    <input class="hideField w-50 margin-30" type="tel" name="secondContactNumber"value="@Model.SecondContactNumber" />
                    <input class="btn btn-dark float-right hideField w-25 margin-30" type="button" value="Cancel"onclick="toggle('secondPhoneNumberField')" />
                    <input class="btn btn-dark float-right hideField w-25 margin-30" type="submit" value="Save" />
                </form>
            </td>
        </tr>
        <tr>
            <td class="text-white bg-dark font-weight-bold text-lg-left">Password Change </td>
            <td>
                <a asp-controller="Users" asp-action="ChangePassword" class="btn btn-dark float-right">Change</a>
            </td>
        </tr>
        <tr>
            <td class="text-white bg-dark font-weight-bold text-lg-left">Delete Account</td>
            <td><button class="btn btn-dark float-right" onclick="edit('@User.Identity.Name')">Delete my account</button></td>
        </tr>
    </table>
</div>

@section Scripts{
    <script>
        function toggle(id) {
            $('#' + id + '>form>.hideField').toggle();
            $('#' + id + '>span').toggle();
            $('#' + id + '>button').toggle();
        }
    </script>
}