@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<form class="mx-auto width-30"  method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="form-group">
        <label asp-for="@Model.CurrentPassword"></label>
        <input asp-for="@Model.CurrentPassword" class="form-control inputData" />
        <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewPassword"></label>
        <input asp-for="@Model.NewPassword" class="form-control inputData" />
        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ConfirmNewPassword"></label>
        <input asp-for="@Model.ConfirmNewPassword" class="form-control inputData" />
        <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <hr /> <br />
    </div>
    <div id="saveBut" class="form-group justify-content-around">
        <input type="submit" class="btn btn-dark" value="Save" />
        <a hrf="/Users/ShowData"  class="btn btn-dark text-white" value="Cancel"> Cancel</a>
    </div>
</form>