@model UserDetailViewModel
@{
    ViewData["Title"] = $"Details for {Model.FullName}";
}
<a class="btn btn-dark" href="/Users/Index">Back to All Users</a>
<div class="card text-white bg-dark mt-3 m-auto" style="max-width: 30rem;">
    <div class="card-header h3">@ViewData["Title"]</div>
    <div class="card-body">
        <h5 class="card-title"><b>Registered on:</b> @Model.RegisteredOn</h5>
        <p class="card-text"><b>Email:</b> @Model.Email</p>
        <p class="card-text"><b>Mobile:</b> @Model.PhoneNumber</p>
        <p class="card-text"><b>Alt. Mobile:</b> @Model.SecondContactNumber</p>
    </div>
    <div id="addressContent" class="card-footer bg-transparent border-dark">
        <button class="btn btn-dark" onclick="loadAddresses('@Model.Id')">Click to see the addresses</button>
    </div>
</div>

@section Scripts{
    <script>
        function loadAddresses(id) {
            var json = { id : id }
            $.ajax({
                url: "/addresses/api/fetch",
                type: "post",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var count = data.countOfAddresses;
                    var result = `<p class="card-text">Addresses for @Model.FullName : ${count} </p>`;
                    $.each(data.listOfAdresses, function (index, value) {
                        var country = value.country;
                        var region = value.region;
                        var town = value.town;
                        var streetName = value.streetName;
                        var number = value.number;
                        var addressType = value.addressType;
                        var openTag = addressType == 1 ? '<b' : '<p';
                        var closingTag = addressType == 1 ? '</b>' : '</p>';
                        result += `${openTag} class="card-text">
                                    ${index + 1}.
                                    ${country.substring(0, 3).toUpperCase()}, 
                                    ${region.substring(0, 3).toUpperCase()},
                                    ${town}, 
                                    ${streetName}, 
                                    ${number} 
                                    ${addressType == 1 ? '- <u>Primary</u>' : ''}
                                    ${closingTag}`;
                     });
                    $("#addressContent").html(result);
                }
            });
        }
    </script>
}