@model AllUsersIndexViewModel
@{ ViewData["Title"] = "Users Index"; }

<a class="btn btn-dark" href="/Home/Index">Back to index</a>

@if (TempData["UserRemoved"] != null)
{
    <div class="alert alert-info">@TempData["SuccessCreatedAddress"]</div>
}

<table class="table w-50 m-auto">
    <thead>
        <tr class="text-white bg-dark">
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Status</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @{ var rowNumber = 1;}
        @foreach (var user in Model.AllUsersCollection)
        {
            var rowColor = user.IsDeleted ? "table-dark" : "text-dark bg-white";
            var active = user.IsDeleted ? "Non-active" : "Active";
            var action = user.IsDeleted ? "HardDelete" : "Details";
            var text = user.IsDeleted ? "Remove" : "More...";

            <tr class="@rowColor">
                <th scope="row">@rowNumber</th>
                <td>@user.FullName</td>
                <td>@user.PhoneNumber</td>
                <td>@active</td>
                <td>
                    <a class="btn btn-dark" 
                       asp-controller="Users" 
                       asp-action="@action" 
                       asp-route-id="@user.Id">
                    <b>@text</b></a>
                </td>
            </tr>               
            rowNumber++;
}
    </tbody>
</table> 