@using Panda.Domain.Enums
@model PandaWeb.Models.Address.AddNewAddressModel
@{
    ViewData["Title"] = "Create new address";
}

<a class="btn btn-dark" href="/Home/Index">Back to all options</a>

<form class="mx-auto w-50" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <label asp-for="@Model.Country"></label>
            <input asp-for="@Model.Country" class="form-control" />
            <span asp-validation-for="@Model.Country" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.Region"></label>
            <input asp-for="@Model.Region" class="form-control" />
            <span asp-validation-for="@Model.Region" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <label asp-for="@Model.Town"></label>
            <input asp-for="@Model.Town" class="form-control" />
            <span asp-validation-for="@Model.Town" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.StreetName"></label>
            <input asp-for="@Model.StreetName" class="form-control" />
            <span asp-validation-for="@Model.StreetName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <label asp-for="@Model.PropertyType"></label>
            <select id="addressTypeChoice" asp-for="@Model.PropertyType" onchange="ShowDetails()" class="form-control" asp-items="Html.GetEnumSelectList<PropertyType>()"> </select>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.Number"></label>
            <input asp-for="@Model.Number" class="form-control" />
            <span asp-validation-for="@Model.Number" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row" id="flatDetails" style="display:none">
        <div class="col-md-4">
            <label asp-for="@Model.Floor"></label>
            <select asp-for="@Model.Floor" class="form-control"> </select>
        </div>
        <div class="col-md-4">
            <label asp-for="@Model.Entrance"></label>
            <select asp-for="@Model.Entrance" class="form-control"> </select>
        </div>
        <div class="col-md-4">
            <label asp-for="@Model.Apartment"></label>
            <select asp-for="@Model.Apartment" class="form-control"> </select>
        </div>
    </div>
    <div class="form-group">
        <hr /> <br />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-dark" value="Create" />
    </div>
</form>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    function ShowDetails() {
        var addressType = $("#addressTypeChoice").val();
        if (addressType == 2) {
            $("#flatDetails").show();
        }
        else {
            $("#flatDetails").hide();
        }
    }
</script>
}